.e{
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 2px;
    border-radius: 10%;
}
.spawn{
    background-color: gray;
}

.spawn{
    display: none;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tetris{
    background-color: darkslategray;
}

.game-field{
    overflow:hidden;
}